body {
	background-color:black;
	font-family: 'Covered By Your Grace', cursive;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.text-container {
  background-color: white;
  position:absolute;
 float: right;
 height: 500px;
 width:500px;
 left:650px;

}

.ryu {
  background-color: white;
  float:left;
}

.ryu-cool,.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing,.ryu-cool {
  background-repeat: no-repeat;
}

.ryu-cool,.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
 background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  /*
  float: left;
  margin-top: 169px;
margin-left: -127px;*/
 position: relative;
  top: 169px;
  left: -127px;
  float: left;
  z-index: 10;
}

.sf-logo {
  background-image: url('../images/sf-logo.png');
width:487px;
height:310px;
margin-top:95px;
display: none;
}

/*
* {
  outline: red 1px solid;
}	
*/
.instructions {
	width:100%;
	height:100%;
	background-color:white;
	display:none;
}

.instruction {

width: 50%;
font-size: xx-large;
text-align: center;

}

.principal {
margin-right:10px;
float:left;
margin-top:70px;
}

.secondary {
margin-left:10px;
float:right;
}