body {
	background-color:black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu {
  background-color: white;
  float:left;
}

.ryu-cool,.ryu-ready, .ryu-still, .ryu-throwing {
  width: 659px;
  height: 494px;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing,.ryu-cool {
  background-repeat: no-repeat;
}

.ryu-cool,.ryu-ready, .ryu-throwing {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
 background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  /*
  float: left;
  margin-top: 169px;
margin-left: -127px;*/
 position: relative;
  top: 169px;
  left: -127px;
  float: left;
}
/*
* {
  outline: red 1px solid;
}	
*/